h1{
    color: #fff;
    font-weight: bold;
    text-align: left;
    /* font-size: 50px; */
  
}

#note{
color: #fff;
}

.rightside{
    width: 30%;
    padding: 20px;
    padding-top: 110px;
    /* flex-wrap: wrap;
    display: inline; */
    float: left;
    position: relative;
    left: 200px;

}

#firstbutton{
    background-color:hsl(248, 32%, 49%);
    color: #fff;
    width: 26%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px 0px hsl(249, 10%, 26%);
    float: right;
    position: relative;
    right: 200px;
    top: 8px;
}

.input{
    background-color: #fff;
    padding: 20px;
    width: 25%;
    border-radius: 10px;
    height: 440px;
    display: block;
    float: right;
    position: relative;
    top: 75px;
    left: 150px;
}

.fname{
    padding: 15px;
    padding-right: 0px;
}

#fname{
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid #989090b5;
    border-radius: 5px;
}

.lname{
    padding-left: 12px;
}

#lname{
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid #989090b5;
    border-radius: 5px;
}
.email{
    padding-left: 12px;
    margin-top: 12px;
}

#email{
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid #989090b5;
    border-radius: 5px;
}

.pwd{
    padding-left: 12px;
    margin-top: 12px;
}

#pwd{
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid #989090b5;
    border-radius: 5px;
}

.pwd2{
    padding-left: 12px;
    margin-top: 12px;
}

#pwd2{
    width: 80%;
    height: 40px;
    padding-left: 40px;
    border: 1px solid #989090b5;
    border-radius: 5px;
}

.btn{
    padding-left: 12px;
    margin-top: 12px;
}

#btn{
    width: 95%;
    height: 40px;
    border: 1px #989090b5;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    background-color: hsl(154, 59%, 51%);
    box-shadow: 2px 2px hsl(154, 59%, 51%) ;
}

#terms{
    text-align: center;
}


#one{
    width: 40%;
    position: relative;
    right: 80px;
    top: 20px;
}

#two{
    width: 40%;
    position: relative;
    bottom: 15.5px;
    left: 80px;
}

li img{
    padding: 0px 25px 10px 10px;  
    margin-top: 0px;
}